<div class="xt_changeHtml" style="margin-bottom: 120px;">
	<div class="addlistCenter">




		<!-- 名称 -->
		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just"> 楼盘名称：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" ng-model="vo.cb_name" style="width:300px" />
			</div>
		</div>
		<!-- 图片 -->
		<div class="divVertical clearfix ray5" style="height: 130px;">
			<span class="xt_bzWenZi width-just">
				图片
			</span>
			<div class="widthAuto zk_controlInput">
				<div>
					<a ng-click="upImage($event,1)" style="color:#099fb8;" class="f14">上传图片</a>
					<div style="margin-bottom:1.25rem;width:794px; height:300px; display:inline-block;" id="myeditor"
						get-ue="ue_myeditor = getUe" ng-show="false" class="ueditor" ng-model="gb_content1"></div>
				</div>
				<div>
					<div style="float:left;margin:5px;position: relative;" ng-repeat="x in picList track by $index"
						ng-mouseenter="showTips($index)" ng-mouseleave="hideTips($index)">
						<div class="js_setCover{{$index}}" ng-show="x.ba_is_main==0"
							style="z-index:4;display:none;position: absolute;background: #eee;width: 102px;height: 22px;text-align:center;"
							ng-click="del($index)">删除</div>
						<div class="gsGoodsImgs" style="width:100px; height:100px;border:1px solid #ddd;">
							<img alt="" src="{{x.ba_path_show?x.ba_path_show:'img/prizedef.jpg'}}"
								style="width:100px; height:100px;">
						</div>
						<div ng-show="x.ba_is_main==1"
							style="position: absolute;background: #eee;width: 102px;height: 22px;top: 40px;text-align:center;">
							封面</div>
						<div class="js_setCover{{$index}}" ng-show="x.ba_is_main==0"
							style="display:none;position: absolute;background: #eee;width: 102px;height: 22px;top: 78px;text-align:center;"
							ng-click="setCover(x)">设置为封面</div>
					</div>
				</div>
			</div>
		</div>
		 <!-- 类型 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">类型：</span>
			<div class="widthAuto zk_controlInput sale_inline">
				<div ng-repeat="x in typeList">
					<label class="m10right">
						<input type="radio" name="type" value="{{x.bd_code}}" ng-model="vo.cb_type"
							class="widthAuto ant-checkboxStyle" style="margin-top: -2px;" /> {{x.bd_name}}
					</label>
				</div>
			</div>
		</div>
       
       
        <!-- 入驻日期 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 交房日期：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_enterdate" style="width:300px" />
            </div>
        </div>
        <!-- 卖点 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 卖点：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_selling_point" style="width:300px" />
            </div>
        </div>
        <!-- 参考均价 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 参考均价：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_price" style="width:300px" />
            </div>
        </div>
        <!-- 设备 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 设备：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_facilities" style="width:300px" />
            </div>
        </div>
        <!-- 教育配套 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 教育配套：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_education" style="width:300px" />
            </div>
        </div>
        <!-- 医院配套 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 医院配套：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_hospital" style="width:300px" />
            </div>
        </div>
        <!-- 公交配套 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 公交配套：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_bus" style="width:300px" />
            </div>
        </div>
        <!-- 商圈范围 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 商圈范围：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_scope" style="width:300px" />
            </div>
        </div>
		<!-- 所属街道 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 所属街道：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_street" style="width:300px" />
            </div>
        </div>
        <!-- 详细地址 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 详细地址：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_address" style="width:300px" />
            </div>
        </div>
		<!-- 封面 -->
		 <!-- 物业费 -->
		 <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 物业费：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_property_mgr_fee" style="width:300px" />
            </div>
        </div>
        <!-- 开发商 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 开发商：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_developer" style="width:300px" />
            </div>
        </div>
        <!-- 建筑类型 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 建筑类型：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_building_type" style="width:300px" />
            </div>
        </div>
        <!-- 建筑面积 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 建筑面积：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_building_area" style="width:300px" />
            </div>
        </div>
        <!-- 占地面积 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 占地面积：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_cover_area" style="width:300px" />
            </div>
        </div>
        <!-- 车位数 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 车位数：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_car_num" style="width:300px" />
            </div>
        </div>
        <!-- 社区户数 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 社区户数：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_housenum" style="width:300px" />
            </div>
        </div>
        <!-- 楼栋数 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 楼栋数：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_building_num" style="width:300px" />
            </div>
        </div>
        <!-- 容积率 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 容积率：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_floor_area_ratio" style="width:300px" />
            </div>
        </div>
        <!-- 绿化率 -->
        <div class="divVertical clearfix ray5" style="margin-top: 25px;">
            <span class="xt_bzWenZi width-just"> 绿化率：</span>
            <div class="widthAuto zk_controlInput">
                <input type="text" ng-model="vo.cb_green_area_ratio" style="width:300px" />
            </div>
        </div>
		
		<!-- 描述 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">户型图</span>
			<div class="widthAuto zk_controlInput">
				<div style="margin-bottom:1.25rem;width:664px;height: 300px; display:inline-block; z-index:1"
					id="myeditor1" get-ue="ue_myeditor1 = getUe" class="ueditor" ng-model="vo.cb_description"
					config="_simpleConfig"></div>
			</div>
		</div>


	</div>
	<div class="fixedBottom">
		<div  class="btnStyle Btncolor1 BtnHover1" ng-click="submit();">保存</div>
		
	</div>

	