<common-navigater data="[{name:'用户'},{name:'用户分润'}]"></common-navigater>
<div class="xt_changeHtml" style="position: relative;">
	<div class="treeStyle" style="top: 20px; border: 0;height:500px;">
		<div class="treeTitle">用户分润等级&nbsp;</div>
		<ul tree id="tree" ng-model="selectNode" tree-click="select();" 
		class="ztree" data-options='{"url":"/admin/member/memberBaseControl/getMemberTree.action"}' 
		style="width:180px; overflow:auto;"></ul>
	</div>
	

</div>
<script type="text/javascript">
	$("#ztree-btn").click(function(){
	    $(".xt_changeHtml").toggleClass("enable");
	    $(".xt_changeHtml").siblings().removeClass("enable");"sqkxBackOfficeSystem/pop.html"
	})
</script>