<div class="setting_panel panel-default">
    <div class="panel-heading text-left">
        <div class="setting_nav">
            <ul>
                <li><a href="">提现列表</a></li>
            </ul>
        </div>
    </div>
    <div class="xt_offOne tabUl-2 clearfix">
		<ul>
			<li ng-class="{'active':tab=='1'}" style="width: 185px;" ng-click="selectTab(1);"><a>销售分润资产提现</a>
				<span class="badge ng-binding" style="position: absolute; top: 8px; right: 10px; z-index: 1" ng-show="false">6</span></li>
			<li ng-class="{'active':tab=='2'}" style="width: 185px;" ng-click="selectTab(2);"><a>其他资产提现</a>
				<span class="badge ng-binding" style="position: absolute; top: 8px; right: 10px; z-index: 1" ng-show="false">6</span></li>
			
		</ul>
	</div>
    <div class="search-filter-box">
    	<div>
			<label>注册时间<span>:</span></label>
            <span class="input-group-addon date_check_main" title="点击选择更多" tabindex="0" onblur="dateRangeUtil.hideDateSelect()"
				 ng-click="dateRange.chooseDate($event)" > 日期 </span>
            <input id="start_date" autocomplete="off"  type="text" class="Wdate" style="margin-left:-4px;"
                onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
                />
            <input id="end_date" autocomplete="off"  type="text" class="Wdate" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"
                onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
                />
            <label>关键字<span>:</span></label>
            <input type="text" placeholder="请输入姓名或手机号" ng-model="searchParam.searchKey">
        </div>
        
        <div>
            <a class="btn btn-success" style="margin-left:80px;"  ng-click="doSearch();" ><i class="glyphicon glyphicon-filter"></i> 筛选</a>
			<a class="btn btn-default" ng-click="clearInput();" style="text-shadow: none !important; color: #333 !important;"><i class="icon icon-eraser"></i> 清空</a>
            <a class="btn btn-success" style="margin-left:80px;"  ng-click="doAdd();" >添加</a>
        </div>
    </div>
    
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default" style="border: 0; border-radius: 0;">
                    <div class="panel-heading f14" style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
                        <i class="icon icon-list"></i> 共{{pager.total}}条记录
                    </div>
                    
                    <table class="table table3 table-bordered table-hover user_table">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <!-- <th>头像</th> -->
                                <th>用户名</th>
                                <th>申请日期</th>
                                <th>申请金额</th>
                                <!-- <th>税点</th>
                                <th>税额金额</th> -->
                                <th>到账金额</th>
                                <th>姓名</th>
                                <th>开户行</th>
                                <th>银行账号</th>
                                <th>身份证号</th>
                                <th>手机</th>
                                <th>状态</th>
                                <th>审核时间</th>
                                <th>审核意见</th>
                                
                                
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in dataList">
                                <td class="text-center f14">{{pager.rows * (pager.page - 1)+ $index+1}}</td>
                                <!-- <td class="text-center f14" ><img width="20" ng-src="{{x.mb_img}}" ></td> -->
                                <td class="text-center f14">{{x.gca_apply_member_id_nameref}}</td>
                                <td class="text-center f14">{{x.gca_apply_time}}</td>
                                <td class="text-center f14">{{x.gca_apply_amount}}</td>
                                <!-- <td class="text-center f14">{{x.gca_tax_point}}</td>
                                <td class="text-center f14">{{x.gca_tax_amount}}</td> -->
                                <td class="text-center f14">{{x.gca_pay_amount}}</td>
                                <td class="text-center f14">{{x.gca_bank_account_name}}</td>
                                <td class="text-center f14">{{x.gca_bank_name}}</td>
                                <td class="text-center f14">{{x.gca_bank_account_code}}</td>
                                <td class="text-center f14">{{x.gca_member_idcard}}</td>
                                <td class="text-center f14">{{x.gca_member_mobile}}</td>
                                <td class="text-center f14">{{x.gca_audit_state_nameref}}</td>
                                <td class="text-center f14">{{x.gca_audit_time}}</td>
                                <td class="text-center f14">{{x.gca_audit_opinion}}</td>
                              
                                <td class="text-center f14">
                                   <!--  <a class="red" style="display: inline-block;" class="common_offsell" ng-click="getDetail(x.mb_id)" title="查看">查看</a>  -->
                                    <a ng-if="x.gca_audit_state==1" class="common_edit" title="审核" ng-click="showCheckBox(x)"></a>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <tm-pagination conf="pager" search-param ="searchParam"></tm-pagination>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 添加备注弹窗 -->
<div class="dialog" ng-show="checkBoxShow" style="z-index:88">
	<div class="dialog-zdc"></div>
	<div class="dg-xg-zh" style="z-index:1000; width:608px;height:360px;margin-left: -369px; top:80px;" ng-show="checkBoxShow">
		<div class="dg-xg-js" style="width:608px;">
			审核
			<div class="dg-cancle" ng-click="checkBoxShow=false"></div>
		</div>
		<div class="clearfix" style="padding: 0 10px; box-sizing: border-box;">
			<form class="form-horizontal">
				<div class="dg-content" style="width: 100%; margin-bottom:10px;margin-top:30px;">
					<div>
						<textarea name="comment" id="comment" cols="30" rows="10" maxlength="150" style="width:100%;height:200px;"></textarea>
					</div>
					<div style="text-align:right;">
						<span>审核意见最多支持150字</span>
					</div>
				</div>
				<div class="dg-submint" style=" width:100%; text-align: center; margin-bottom:20px;">
					<div class="btnStyle Btncolor1 BtnHover1" ng-click="updateCheckstate(2);">审核通过</div>
					<div class="btnStyle Btncolor2 BtnHover2" ng-click="updateCheckstate(3)">审核不通过</div>
				</div>
			</form>
		</div>
	</div>
</div>




<style>
.tab_seleced{
	border:1px solid #ddd;
	border-bottom:none;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	background-color:#5bc0de;
	color:#fff;
}
</style>







