<div class="xt_changeHtml" style="margin-bottom: 120px;">
	<div class="addlistCenter">




		<!-- 名称 -->
		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just"> 手机名称：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" ng-model="vo.pm_name" style="width:300px" />
			</div>
		</div>
		<!-- 类型  -->
		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just"><i class="colorRed">*</i> 手机型号：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" ng-model="vo.pm_model" maxlength="60" style="width:300px" />
			</div>
		</div>
		<!-- 品牌 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">品牌：</span>
			<div class="widthAuto zk_controlInput sale_inline">
				<div>
					<label class="m10right">
						<select ng-model="vo.pm_brand">
							<option ng-repeat="x in brandList" value="{{x.bb_id}}">{{x.bb_title}}</option>
						</select>
					</label>
				</div>
			</div>
		</div>
		<!-- 国家 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">国家：</span>
			<div class="widthAuto zk_controlInput sale_inline">
				<div ng-repeat="x in countryList">
					<label class="m10right">
						<input type="radio" name="pm_country" value="{{x.bd_code}}" ng-model="vo.pm_country"
							class="widthAuto ant-checkboxStyle" style="margin-top: -2px;" /> {{x.bd_name}}
					</label>
				</div>
			</div>
		</div>
		<!-- 封面 -->
		<!-- 图片 -->
		<div class="divVertical clearfix ray5">
			<label class="item-label control-label f14">
				图片
			</label>
			<div class="widthAuto zk_controlInput">
				<div>
					<a ng-click="upImage($event,1)" style="color:#099fb8;" class="f14">上传图片</a>
					<div style="margin-bottom:1.25rem;width:794px; height:300px; display:inline-block;" id="myeditor"
						get-ue="ue_myeditor = getUe" ng-show="false" class="ueditor" ng-model="gb_content1"></div>
				</div>
				<div>
					<div style="float:left;margin:5px;position: relative;" ng-repeat="x in picList track by $index"
						ng-mouseenter="showTips($index)" ng-mouseleave="hideTips($index)">
						<div class="js_setCover{{$index}}" ng-show="x.pp_ismain==0"
							style="z-index:4;display:none;position: absolute;background: #eee;width: 102px;height: 22px;text-align:center;"
							ng-click="del($index)">删除</div>
						<div class="gsGoodsImgs" style="width:100px; height:100px;border:1px solid #ddd;">
							<img alt="" src="{{x.pp_path_show?x.pp_path_show:'img/prizedef.jpg'}}"
								style="width:100px; height:100px;">
						</div>
						<div ng-show="x.pp_ismain==1"
							style="position: absolute;background: #eee;width: 102px;height: 22px;top: 40px;text-align:center;">
							封面</div>
						<div class="js_setCover{{$index}}" ng-show="x.pp_ismain==0"
							style="display:none;position: absolute;background: #eee;width: 102px;height: 22px;top: 78px;text-align:center;"
							ng-click="setCover(x)">设置为封面</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 屏幕大小 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">屏幕大小：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" ng-model="vo.pm_screen" style="width:300px" />
			</div>
		</div>
		<!-- 电池 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">电池：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" ng-model="vo.pm_battery" style="width:300px" />
			</div>
		</div>
		<!-- 重量 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">重量：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" ng-model="vo.pm_weight" style="width:300px" />
			</div>
		</div>
		<!-- 长 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">长：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" ng-model="vo.pm_longth" style="width:300px" />
			</div>
		</div>
		<!-- 宽 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">宽：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" ng-model="vo.pm_width" style="width:300px" />
			</div>
		</div>
		<!-- 厚 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">厚：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" ng-model="vo.pm_height" style="width:300px" />
			</div>
		</div>
		<!-- 键盘种类 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">键盘种类：</span>
			<div class="widthAuto zk_controlInput sale_inline">
				<div ng-repeat="x in keyTypeList">
					<label class="m10right">
						<input type="radio" name="pm_keytype" value="{{x.bd_code}}" ng-model="vo.pm_keytype"
							class="widthAuto ant-checkboxStyle" style="margin-top: -2px;" /> {{x.bd_name}}
					</label>
				</div>
			</div>
		</div>
		<!-- 充电接口 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">充电接口：</span>
			<div class="widthAuto zk_controlInput sale_inline">
				<div ng-repeat="x in chargeTypeList">
					<label class="m10right">
						<input type="radio" name="pm_chargetype" value="{{x.bd_code}}" ng-model="vo.pm_chargetype"
							class="widthAuto ant-checkboxStyle" style="margin-top: -2px;" /> {{x.bd_name}}
					</label>
				</div>
			</div>
		</div>
		<!-- 系统 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">系统：</span>
			<div class="widthAuto zk_controlInput sale_inline">
				<div ng-repeat="x in systemList">
					<label class="m10right">
						<input type="radio" name="pm_system" value="{{x.bd_code}}" ng-model="vo.pm_system"
							class="widthAuto ant-checkboxStyle" style="margin-top: -2px;" /> {{x.bd_name}}
					</label>
				</div>
			</div>
		</div>
		<!-- 发布日期 -->
		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just"> 发布时间：</span>
			<div class="widthAuto zk_controlInput">

				<input id="start_date" autocomplete="off" type="text" class="Wdate"
					style="margin-left:-4px;height:17px;"
					onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})" />
			</div>
		</div>
		<!-- 排序 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">排序：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" ng-model="vo.pm_sort" style="width:300px" />
			</div>
		</div>
		<!-- 描述 -->
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">描述</span>
			<div class="widthAuto zk_controlInput">
				<div style="margin-bottom:1.25rem;width:664px;height: 300px; display:inline-block; z-index:1"
					id="myeditor1" get-ue="ue_myeditor1 = getUe" class="ueditor" ng-model="vo.ppm_describe"
					config="_simpleConfig"></div>
			</div>
		</div>

	</div>
	<div class="fixedBottom">
		<div ng-if="!vo.pa_id" class="btnStyle Btncolor1 BtnHover1" ng-click="submit();">保存</div>
		<div ng-if="vo.pa_id&&(publish_stat==2||publish_stat==1)" class="btnStyle Btncolor1 BtnHover1"
			ng-click="submit();">保存</div>
		<div class="btnStyle Btncolor2 BtnHover2"><a ui-sref="index.marketing.combinationPackage"
				class="btnStyle Btncolor2 BtnHover2">返回</a></div>
	</div>

	<!-- 遮挡层 -->
	<div class="dialog" ng-show="ac_showHtml.show">
		<div class="dialog-zdc"></div>
		<!-- 遮挡层 -->

		<!-- 选择商品 -->
		<div class="dg-xg-zh" style="width: 620px" ng-if="ac_showHtml.warn_html == 1">
			<div class="dg-xg-js" style="width: 620px">
				选择商品
				<div class="dg-cancle" ng-click="cancleBtnClick()"></div>
			</div>
			<div class="dg-content">
				<div class="xt_filter floatLeft" style=" width: 370px; margin-left:10px; margin-bottom: 10px;">
					<input type="text" ng-model="searchParam.searchKey" placeholder="请输入关键词搜索"
						style="width:235px; height:20px; margin-right: 5px;">
					<div class="btnStyle Btncolor2 BtnHover2" ng-click="queryGoodsList();">搜索</div>
				</div>
				<div class="xt_filter mtop16" style="display: block;">
					<table class="table table1 tableTh tdHover" style="max-height: 300px; overflow: auto;">
						<thead>
							<tr>
								<th style="width: 15px;"><input type="checkbox" name="check_all"
										ng-click="checkFun('check_all');"></th>
								<th class="colorCenter">商品编码</th>
								<th class="colorCenter">商品国际码</th>
								<th class="colorCenter" style="width: 275px">商品名称</th>
							</tr>
						</thead>
						<tbody class="borBottom">
							<tr ng-repeat="x in dataList" ng-click="checkFun(x.gp_id+'_'+$index,$event);">
								<td><input type="checkbox" name="id_{{x.gp_id}}_{{$index}}"></td>
								<td class="colorCenter">{{x.gb_goods_code}}</td>
								<td class="colorCenter">{{x.gb_international_code}}</td>
								<td class="colorCenter">{{x.gb_title}}</td>
							</tr>

						</tbody>
					</table>
					<tm-pagination conf="pager"></tm-pagination>
				</div>

			</div>
			<div class="dg-bottom-color">
				<div class="dg-submint">
					<div class="btnStyle Btncolor1 BtnHover1" ng-click="sureBtnClick();">确定</div>
				</div>
			</div>
		</div>
		<!-- 选择商品 -->

		<script>

			$(function () {
				$('.droplistWrap2').hide()
				$(document).on('click', function (ev) {
					if ($(ev.target).parents('.SelectMulti-Container2').length) { return }
					$('.droplistWrap2').hide()
				})

				//全选框不好使时
				$('body').on('click', '.js_selectAll', function () {
					var thisObj = $(this);
					if (thisObj.is(':checked')) {
						// $('.select').attr('checked', true); 
						$('.js_select').prop("checked", true);
						$('.js_selectAll').prop("checked", true);

					} else {
						$('.js_select').attr('checked', false);
						$('.js_selectAll').prop("checked", false);
					}
				});

				$('body').on('click', '.js_select', function (event) {
					event.stopPropagation();
					var thisObj = $(this);
					if (thisObj.is(':checked')) {
						// $('.select').attr('checked', true); 
						// $('.select').prop("checked", true);  					 					
					} else {
						$('.js_selectAll').prop("checked", false);
					}
				});
			});

			function showDropList(obj) {
				$('.droplistWrap2').hide();
				$(obj).parent().find('.droplistWrap2').toggle();
				console.log($(obj).parent().find('.droplistWrap2'))
			};
		</script>

		<style>
			.group-title {
				height: 55px;
				line-height: 55px;
				font-size: 20px;
				padding-left: 20px;
			}

			.group-title span {
				margin-left: 100px;
			}

			.group-title span input {
				line-height: 20px;
			}

			.group-title img {
				margin-top: 20px;
			}
		</style>