<div class="setting_panel panel-default">
	<div class="panel-heading text-left">
		<div class="setting_nav">
			<ul>
				<li><a href="">列表</a></li>
			</ul>
		</div>
	</div>
	<div class="xt_offOne tabUl-2 clearfix">
		<ul>
			<li ng-class="{'active':tab=='1'}" style="width: 115px;" ng-click="selectTab(1);"><a>销售分佣</a>
				<span class="badge ng-binding" style="position: absolute; top: 8px; right: 10px; z-index: 1" ng-show="false">6</span></li>
			<li ng-class="{'active':tab=='2'}" style="width: 115px;" ng-click="selectTab(2);"><a>履约分佣</a>
				<span class="badge ng-binding" style="position: absolute; top: 8px; right: 10px; z-index: 1" ng-show="false">6</span></li>
			
		</ul>
	</div>
	<div ng-show="tab=='2'">
		<div class="search-filter-box">
			<div>
				<label>日期<span>:</span></label>
				<span class="input-group-addon date_check_main" title="点击选择更多" tabindex="0" onblur="dateRangeUtil.hideDateSelect()"
					ng-click="dateRange.chooseDate($event)" > 日期 </span>
				<input id="start_date" autocomplete="off"  type="text" class="Wdate" style="margin-left:-4px;"
					onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
					/>
				<input id="end_date" autocomplete="off"  type="text" class="Wdate" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"
					onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
					/>
				<label>关键字<span>:</span></label>
				<input type="text" placeholder="用户信息，订单编号" ng-model="searchParam.searchKey">
			</div>
			<div>
				<a class="btn btn-success" style="margin-left:80px;"  ng-click="doSearch();" ><i class="glyphicon glyphicon-filter"></i> 筛选</a>
				<a class="btn btn-default" ng-click="clearParams();" style="text-shadow: none !important; color: #333 !important;"><i class="icon icon-eraser"></i> 清空</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default"
						style="border: 0; border-radius: 0;">
						<div class="panel-heading f14"
							style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
							<i class="icon icon-list"></i> 共{{pager.total}}条记录
						</div>

						<table class="table table3 table-bordered table-hover user_table">
							<thead>
								<tr>
									<th>序号</th>
									<th>合伙人</th>
									<th>主体类型</th>
									<th>来源类型</th>
									<th>时间</th>
									<!-- <th>订单编号</th> -->
									<th>柜子名称</th>
									<!-- <th>订单金额</th> -->
									<th>分润单价</th>
									<th>分润数量</th>
									<th>分润金额</th>
									<th>客户名称</th>
									<th style="width:150px;">备注</th>
									<!-- <th>操作</th> -->
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in dataList">
									<td class="text-center f14">{{pager.rows * (pager.page -
										1)+ $index+1}}</td>
									<td class="text-center f14">{{x.gp_spread_id1_nameref}}</td>
									<td class="text-center f14">{{x.gp_profit_type_nameref}}</td>
									<td class="text-center f14">{{x.gp_spread_type1_nameref}}</td>
									<td class="text-center f14">{{x.gp_bill_date}}</td>
									<!-- <td class="text-center f14"><a style="color:#abcdef;" ng-click="goOrderDetail(x.gp_order_id,x.gp_order_code)">{{x.gp_sourcecode}}</a></td> -->
									<td class="text-center f14">{{x.gp_storeid_nameref}}</td>
									<!-- <td class="text-center f14">{{x.gp_order_amount}}</td> -->
									<td class="text-center f14">{{x.gp_spread_val1}}</td>
									<td class="text-center f14">{{x.gp_spread_num1}}</td>
									<td class="text-center f14">{{x.gp_spread_amount1}}</td>
									<td class="text-center f14">{{x.gp_member_id_nameref}}</td>
									<td class="text-center f14">{{x.gp_profit_desc}}</td>
									<!-- <td class="text-center f14">
										
									</td> -->
								</tr>
							</tbody>
						</table>
						<tm-pagination conf="pager" search-param="searchParam"></tm-pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="tab=='1'">
		<div class="search-filter-box">
			<div>
				<label>日期<span>:</span></label>
				<span class="input-group-addon date_check_main" title="点击选择更多" tabindex="0" onblur="dateRangeUtil.hideDateSelect()"
					 ng-click="dateRange.chooseDate($event)" > 日期 </span>
				<input id="start_date" autocomplete="off"  type="text" class="Wdate" style="margin-left:-4px;"
					onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
					/>
				<input id="end_date" autocomplete="off"  type="text" class="Wdate" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"
					onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
					/>
				<label>关键字<span>:</span></label>
				<input type="text" placeholder="用户信息，订单编号" ng-model="searchParam.searchKey">
			</div>
			<div>
				<a class="btn btn-success" style="margin-left:80px;"  ng-click="doSearch();" ><i class="glyphicon glyphicon-filter"></i> 筛选</a>
				<a class="btn btn-default" ng-click="clearParams();" style="text-shadow: none !important; color: #333 !important;"><i class="icon icon-eraser"></i> 清空</a>
				<a class="btn btn-success" style="margin-left:80px;"  ng-click="doExport();" >导出数据</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default"
						style="border: 0; border-radius: 0;">
						<div class="panel-heading f14"
							style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
							<i class="icon icon-list"></i> 共{{pager.total}}条记录
						</div>
	
						<table class="table table3 table-bordered table-hover user_table">
							<thead>
								<tr>
									<th>序号</th>
									<th>时间</th>
									<th>订单编号</th>
									<th>订单金额</th>
									<th>团队</th>
									<th>分润金额</th>
									<th>一级分润人</th>
									<th>一级分润金额</th>
									<th>二级分润人</th>
									<th>二级分润金额</th>
									<th>客户名称</th>
									<th>分润状态</th>
									<th>备注</th>
									<th>商品</th>
									<!-- <th>操作</th> -->
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in dataList">
									<td class="text-center f14">{{pager.rows * (pager.page -
										1)+ $index+1}}</td>
									<td class="text-center f14">{{x.gp_bill_date}}</td>
									<td class="text-center f14"><a style="color:#abcdef;" ng-click="goOrderDetail(x.gp_order_id,x.gp_order_code)">{{x.gp_sourcecode}}</a></td>
									<td class="text-center f14">{{x.gp_order_amount}}</td>
									<td class="text-center f14">{{x.gp_agent_id_nameref}}</td>
									<td class="text-center f14">{{x.gp_order_proift}}</td>
									<td class="text-center f14">{{x.gp_spread_id1_nameref}}</td>
									<td class="text-center f14">{{x.gp_spread_amount1}}</td>
									<td class="text-center f14">{{x.gp_spread_id2_nameref}}</td>
									<td class="text-center f14">{{x.gp_spread_amount2}}</td>
									<td class="text-center f14">{{x.gp_member_id_nameref}}</td>
									<td class="text-center f14">{{x.gp_state_nameref}}</td>
									<td class="text-center f14">{{x.gp_profit_desc}}</td>
									<td class="text-center f14">
										<span ng-repeat="y in x.detailList">{{y.gpd_productid_nameref}}<br></span>
									</td>
									<!-- <td class="text-center f14">
										 
									</td> -->
								</tr>
							</tbody>
						</table>
						<tm-pagination conf="pager" search-param="searchParam"></tm-pagination>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
