<div class="xt_changeHtml">
	<div class="xt_offOne tabUl-2 clearfix">
		<ul>
			<li ng-class="{'active':searchParam.pc_state==''}" style="width: 95px;" ng-click="searchParam.pc_state='';searchFun();"><a>全部</a>
				<span class="badge ng-binding" style="position: absolute; top: 8px; right: 10px; z-index: 1" ng-show="false">6</span></li>
			<li ng-class="{'active':searchParam.pc_state==3}" style="width: 115px;" ng-click="searchParam.pc_state=3;searchFun();"><a>进行中</a>
				<span class="badge ng-binding" style="position: absolute; top: 8px; right: 10px; z-index: 1" ng-show="false">6</span></li>
			<li ng-class="{'active':searchParam.pc_state==2}" style="width: 95px;" class="" ng-click="searchParam.pc_state=2;searchFun();"><a>暂存</a>
				<span class="badge ng-binding" style="position: absolute; top: 8px; right: 10px; z-index: 1" ng-show="false">2</span></li>
			<li ng-class="{'active':searchParam.pc_state==1}" style="width: 124px;" class="" ng-click="searchParam.pc_state=1;searchFun();"><a>取消发布</a>
				<span class="badge ng-binding" style="position: absolute; top: 8px; right: 10px; z-index: 1" ng-show="false">2</span></li>
			<li ng-class="{'active':searchParam.pc_state==4}" style="width: 124px;" class="" ng-click="searchParam.pc_state=4;searchFun();"><a>已结束</a>
				<span class="badge ng-binding" style="position: absolute; top: 8px; right: 10px; z-index: 1" ng-show="false">2</span></li>
			<li style="float: right;" ng-show="false">
				<div ng-class="{true:'switch-block',false:'switch-lines'}[showInForm]" ng-click="showInForm=!showInForm"></div>
			</li>
		</ul>
	</div>

	<div class="search-filter-box">
		<div>
			<label>关键字<span>:</span></label>
			<input type="text" placeholder="活动名称" ng-model="searchParam.searchKey">
		</div>

		<div>
			<a class="btn btn-success" style="margin-left:80px;" ng-click="searchFun();"><i class="glyphicon glyphicon-filter"></i>
				筛选</a>
			<a class="btn btn-default" ng-click="searchParam.searchKey='';searchFun();" style="text-shadow: none !important; color: #333 !important;"><i
				 class="icon icon-eraser"></i> 清空</a>
			<a class="btn btn-success add-btn" style="float:right;margin-right:50px;" ui-sref="index.marketing.promotioncutadd"><i class="icon icon-plus"></i>新增</a>
		</div>
	</div>

	<div class="xt_childTable">
		<table class="table table3 table-striped table-hover table-bordered SortCss" ng-show="showInForm">
			<thead>
				<tr class="bgColor-tableTr tableMiddle zk_stockTitleTh">
					<th class="colorCenter noSortCss" ng-show="false"><input type="checkbox" ng-model="allChecked" ng-change="toggleAll()"></th>
					<th class="colorCenter noSortCss">主图</th>
					<th class="colorCenter noSortCss">活动名称</th>
					<th class="colorCenter noSortCss">时间</th>
					<!-- <th class="colorCenter noSortCss">是否团购</th> -->
					<th class="colorCenter noSortCss">状态</th>
					<th class="colorCenter noSortCss">参与/成功/下单</th>
					<th class="colorCenter noSortCss">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in dataList" class="common-tr-height" ng-dblclick="showLeftPop($index)">
					<th ng-show="false" class="colorCenter noSortCss"><input type="checkbox" ng-model="x.checked"></th>
					<td class="colorCenter">
						<img ng-src="{{!x.pc_img_show?'../../../../img/2017-02-27-01.png':x.pc_img_show}}" img-err style="height:70px;">
					</td>
					<td class="colorCenter">{{x.pc_title_main}}</td>
					<td class="colorCenter">
						{{x.pc_startdate}} 至{{x.pc_enddate}}
					</td>
					<!-- <td class="colorCenter">
						<span ng-if="x.ppm_isgroup =='Y'">参与</span>
						<span ng-if="x.ppm_isgroup =='N'">不参与</span>
					</td> -->
					<td ng-class="{'xt_colorRed':false}" class="colorCenter">
						{{x.pc_state_nameref}}
					</td>
					<td ng-class="{'xt_colorRed':false}" class="colorCenter">
						{{x.pc_attendance}}/{{x.pc_success_number}}/{{x.pc_exchange_number}}
					</td>
					<td class="colorCenter" style="width:178px;">
						<div class="colorCenter">
							<a class="common_btns common_detail" ng-click="goInitiatorList(x)" title="查看砍价"></a>
							<a class="common_btns common_detail" ng-click="goDetail(x,1)" title="查看详情"></a>
							<a ng-show="x.pc_state == 2" class="common_btns common_edit" ng-click="goDetail(x,2)" title="编辑"></a>
							<a ng-show="x.pc_state == 3" class="common_btns common_publish_cancle" ng-click="updatePublish(x,1,$event)" title="取消发布"></a>
							<a ng-show="x.pc_state == 2" class="common_btns common_publish" ng-click="updatePublish(x,3,$event)" title="发布"></a>
							<a ng-show="x.pc_state != 3" class="common_btns common_delete" ng-click="deltePromotion(x,$event)" title="删除"></a>

						</div>
					</td>
				</tr>

			</tbody>
		</table>
		
		<tm-pagination conf="pager" search-param="searchParam"></tm-pagination>
	</div>
</div>