<div class="xt_changeHtml" style="margin-bottom: 120px;">
	<div class="addlistCenter">
		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just"><i class="colorRed">*</i> 促销主题：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" disabled ng-model="vo.pc_title_main" maxlength="30" style="width:300px" placeholder="促销主题在30个字符以内" />
			</div>
		</div>
		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just"> 副标题：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" disabled ng-model="vo.pc_title_sub" maxlength="300" style="width:300px" placeholder="副标题在30个字符以内" />
			</div>
		</div>
		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just"> 分享标题：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" disabled ng-model="vo.pc_title_share" maxlength="300" style="width:300px" placeholder="副标题在30个字符以内" />
			</div>
		</div>
		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just"><i class="colorRed">*</i> 活动图片：</span>
			<div class="widthAuto zk_controlInput">
				<a  style="color:#099fb8;" class="f14">上传图片（建议大小300*300，150kb以内）</a>
				<div style="margin-bottom:1.25rem;width:794px; height:300px; display:inline-block;" id="myeditor" get-ue="ue_myeditor = getUe"
				 ng-show="false" class="ueditor" ng-model="gb_content1"></div>
				<div style="margin-top:5px;">
					<div style="float:left;margin:5px;">
						<div class="gsGoodsImgs" style="width:100px; height:100px;border:1px solid #ddd;">
							<img alt="" src="{{vo.pc_img_show?vo.pc_img_show:'img/prizedef.jpg'}}" style="width:100px; height:100px;">
						</div>

					</div>

					<div class="clearfix"></div>
				</div>
			</div>
			<div style="min-width:900px;margin-bottom: 20px;margin-top: 25px;box-sizing:border-box;padding:0 46px;">
                <table class="table table3" style="margin-bottom: 0 !important; border: 1px solid #dedede; border-bottom: 0;">
                    <tbody>
                        <tr class="zk_headerTrSty">
                            <th style="width:10%;" ng-show="false">
                                <div class="glyphicon glyphicon-cog" ng-show="false" style="width: 15px; height: 15px; cursor: pointer"></div>
                            </th>
                            <th style="width:50%;border-right: 1px solid #dedede;">商品 </th>
                        </tr>
                        <tr>
                            <td colspan="14" style="padding: 0; border-bottom: 0;border-top:0;">
                                <div style="padding-bottom: 2px;">
                                    <table class="table table3 table-bordered" style="border: 0; margin-bottom: 0 !important;">
                                        <tbody>
                                            <tr >
                                                <td ng-show="false" style="width:10%; border-left: 0 !important;" class="colorCenter"></td>
                                                <td style="width:50%;" class="SelectMulti-Container2 posRelative">
                                                    <input type="text" class="inputBorderStyle2 SelectMulti-ShowDiv2" ng-model="vo.pc_product_id_nameref" ng-change="keySearchFun(vo.pc_product_id_nameref,'goods');"
                                                     ng-focus="goods_type=1;showDroplist($event,getGoods,1)" style="height: 33px; line-height: 33px;">
                                                    <div class="droplistWrap2" style="width: 689px; left: 5px; top: 40px; overflow: hidden;">
                                                        <div class="clearfix">
                                                            <table>
                                                                <tr class="listItem2" style="width:683px;">
                                                                    <td style="width:30px;line-height: 0px !important;"></td>
                                                                    <td style="width:430px;line-height: 0px !important;">商品</td>
                                                                    <td style="width:120px;line-height: 0px !important;">编号</td>
                                                                    <td style="width:120px;line-height: 0px !important;">类型</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="clearfix" style="height: 160px;overflow-y: auto;">
    
                                                            <table style="width:683px;">
                                                                <tr class="listItem" ng-repeat="y in goodsList" ng-click="chooseGoods(y,index_i,1);">
                                                                    <td style="width:30px;padding:4px !important;">
                                                                        {{pager1.rows * (pager1.page - 1)+ $index+1}}
                                                                    </td>
                                                                    <td style="width:430px;padding:4px !important;" title="{{y.pm_title}}">
                                                                        {{y.pm_title | cut:true:20:' ...'}}
                                                                    </td>
    
                                                                    <td style="width:120px;padding:4px !important;">
                                                                        {{y.pm_code}}
                                                                    </td>
                                                                    <td style="width:120px;padding:4px !important;">
                                                                        {{y.pm_typeid_nameref}}
                                                                    </td>
                                                                    
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="droplistWrap2 zk_fanye" style="width:689px !important; top:226px !important; left:5px !important;height:25px;">
                                                        <a ng-click="prevPage(pager1,getGoods)" class="m30right m20left">上一页</a>
                                                        <a ng-click="nextPage(pager1,getGoods)" class="m30right">下一页</a>
                                                        <span class="m30right">{{pager1.page}}/{{pager1.pageTotal}}</span>
                                                        <span>共{{pager1.total}}条</span>
                                                    </div>
                                                </td>
    
    
    
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
			<div class="divVertical clearfix ray5" style="margin-top: 25px;">
				<span class="xt_bzWenZi width-just"><i class="colorRed">*</i> 促销时间：</span>
				<div class="widthAuto zk_controlInput">
					<input type="text" disabled class="Wdate" style="width: 200px;" id="start_time" />
				</div>
			</div>
			<!-- <div class="divVertical clearfix ray5">
				<span class="xt_bzWenZi width-just">砍价类型：</span>
				<div class="widthAuto zk_controlInput sale_inline">
					<div ng-repeat="x in priceTypeList">
						<label class="m10right">
							<input type="radio" name="priceType" ng-model="vo.pc_price_type" value="{{x.bd_code}}" class="widthAuto ant-checkboxStyle" style="margin-top: -2px;" />
							{{x.bd_name}}
						</label>
					</div>
					
				</div>
			</div> -->
            <div class="divVertical clearfix ray5" >
                <span class="xt_bzWenZi width-just"> <i class="colorRed">*</i>市场价：</span>
                <div class="widthAuto zk_controlInput">
                    <input type="number" maxlength="10" disabled ng-model="vo.pc_market_price" style="width:50px;" />元
                </div>
            </div>
            <div class="divVertical clearfix ray5" >
                <span class="xt_bzWenZi width-just"> <i class="colorRed">*</i>最低交易金额：</span>
                <div class="widthAuto zk_controlInput">
                    <input type="number" maxlength="10" disabled ng-model="vo.pc_min_price" style="width:50px;" />元
                </div>
            </div>
            <div class="divVertical clearfix ray5" >
                <span class="xt_bzWenZi width-just"> <i class="colorRed">*</i>砍价人数</span>
                <div class="widthAuto zk_controlInput">
                    <input type="number" maxlength="10" disabled ng-model="vo.pc_number" style="width:50px;" />人
                </div>
            </div>
            <div class="divVertical clearfix ray5" >
                <span class="xt_bzWenZi width-just"> <i class="colorRed">*</i>活动总数：</span>
                <div class="widthAuto zk_controlInput">
                    <input type="number" maxlength="10" disabled ng-model="vo.pc_total" style="width:50px;" />份
                </div>
            </div>

			
			<div class="divVertical clearfix ray5">
				<span class="xt_bzWenZi width-just">发布状态：</span>
				<div class="widthAuto zk_controlInput sale_inline">
					
					{{vo.pc_state_nameref}}
					
				</div>
			</div>
			
			<div class="divVertical clearfix ray5" style="margin-top: 25px;">
				<span class="xt_bzWenZi width-just"><i class="colorRed">*</i> 排序：</span>
				<div class="widthAuto zk_controlInput">
					<input type="text" disabled ng-model="vo.pc_sort" maxlength="10" style="width:300px" />
				</div>
			</div>
			

			<div class="divVertical clearfix ray5">
				<span class="xt_bzWenZi width-just">砍价规则</span>
				<div class="widthAuto zk_controlInput">
					<div style="margin-bottom:1.25rem;width:664px;height: 300px; display:inline-block; z-index:1" id="myeditor1"
					 get-ue="ue_myeditor1 = getUe" disabled class="ueditor" ng-model="vo.pc_rules" config="_simpleConfig"></div>
				</div>
			</div>
		</div>
		<div class="fixedBottom">

			<div class="btnStyle Btncolor2 BtnHover2"><a ui-sref="index.marketing.promotioncutlist" class="btnStyle Btncolor2 BtnHover2">返回</a></div>
		</div>
		<script>

			$(function () {
				$('.droplistWrap2').hide()
				$(document).on('click', function (ev) {
					if ($(ev.target).parents('.SelectMulti-Container2').length) { return }
					$('.droplistWrap2').hide()
				})


				

				
			});

			function showDropList(obj) {
				$('.droplistWrap2').hide();
				$(obj).parent().find('.droplistWrap2').toggle();
				console.log($(obj).parent().find('.droplistWrap2'))
			};
		</script>
	</div>
</div>