<div class="setting_panel panel-default">
	<div class="panel-heading text-left">
		<div class="setting_nav">
			<ul>
				<li><a href="">销售明细</a></li>
			</ul>
		</div>
	</div>
	
	<div class="search-filter-box">
		<div>
			<label>时间<span>:</span></label>
            <span class="input-group-addon date_check_main" title="点击选择更多" tabindex="0" onblur="dateRangeUtil.hideDateSelect()"
				 ng-click="dateRange.chooseDate($event)" > 日期 </span>
            <input id="start_date" autocomplete="off"  type="text" class="Wdate" style="margin-left:-4px;"
                onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
                />
            <input id="end_date" autocomplete="off"  type="text" class="Wdate" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"
                onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
				/>
        </div>
        <div>
            <label>会员信息<span>:</span></label>
            <input type="text" placeholder="会员信息" ng-model="searchParam.memberNameSearchKey">
            <label>商品信息<span>:</span></label>
            <input type="text" placeholder="商品信息" ng-model="searchParam.productSearchKey">
           
        </div>
		<div>
			<a class="btn btn-success" style="margin-left:80px;"  ng-click="doSearch();" ><i class="glyphicon glyphicon-filter"></i> 筛选</a>
			<a class="btn btn-default" ng-click="clearParams();" style="text-shadow: none !important; color: #333 !important;"><i class="icon icon-eraser"></i> 清空</a>
			<a class="btn btn-success" style="margin-left:80px;"  ng-click="doExport();" >导出数据</a>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default"
					style="border: 0; border-radius: 0;">
					<div class="panel-heading f14"
						style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
						<i class="icon icon-list"></i> 共{{pager.total}}条记录
					</div>

					<table class="table table3 table-bordered table-hover user_table">
						<thead>
							<tr>
								<th>序号</th>
								<th>类型</th>
								<th>时间</th>
								<th>编码</th>
								<th>客户名</th>
								<th>客户电话</th>
								<th>商品</th>
								<th>购买数量</th>
								<th>商品价格</th>
								<th>商品小计</th>
								<th>商品售价</th>
								<th>售价小计</th>
								<th>总金额</th>
								<th>取水来源</th>
								<th>水票来源</th>
								<th>原始人</th>
								<th>原始来源</th>
								<th>原始单号</th>
								<th>取水编码</th>
								
								
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in dataList">
								<td class="text-center f14">{{pager.rows * (pager.page -
									1)+ $index+1}}</td>
                                <td class="text-center f14">{{x.orderType_nameref}}</td>
                                <td class="text-center f14">{{x.addTime}}</td>
                                <td class="text-center f14">{{x.orderCode}}</td>
								<td class="text-center f14">{{x.memberId_nameref}}</td>
								<td class="text-center f14">{{x.memberId_mobile}}</td>
								<td class="text-center f14">{{x.productId_nameref}}</td>
								
								
								<td class="text-center f14">
									<zk-format-num ng-model="x.num"></zk-format-num>
								</td>
								<td class="text-center f14">
									<zk-format-num ng-model="x.productPrice"></zk-format-num>
								</td>
								<td class="text-center f14">
									<zk-format-num ng-model="x.productPriceTotal"></zk-format-num>
								</td>
								<td class="text-center f14">
									<zk-format-num ng-model="x.salePrice"></zk-format-num>
								</td>
							
								<td class="text-center f14">
									<zk-format-num ng-model="x.salePriceTotal"></zk-format-num>
								</td>
								<td class="text-center f14">
									<zk-format-num ng-model="x.settlementTotal"></zk-format-num>
								</td>
								<td class="text-center f14">{{x.sourceType_nameref}}</td>
								<td class="text-center f14">{{x.buyType_nameref}}</td>
								<td class="text-center f14">{{x.srcMember_nameref}}</td>
								<td class="text-center f14">{{x.srcType_nameref}}</td>
								<td class="text-center f14">{{x.srcCode}}</td>
								<td class="text-center f14">{{x.watercode}}</td>
							</tr>
						</tbody>
					</table>
					<tm-pagination conf="pager" search-param="searchParam"></tm-pagination>
				</div>
			</div>
		</div>
	</div>
</div>
