<div class="xt_changeHtml" style="margin-bottom: 120px;">
	<div class="addlistCenter">

		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just">餐饮公司：</span>
			<div class="widthAuto zk_controlInput">
				<select ng-model="vo.rsp_rsid">
					<option value="{{x.rs_id}}" ng-repeat="x in rsList">{{x.rs_title}}</option>
				</select>
			</div>
		</div>

		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just">菜名：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" ng-model="vo.rsp_title" style="width:600px"  />
			</div>
		</div>
		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just">原料：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" ng-model="vo.rsp_ingredients"  style="width:600px" />
			</div>
		</div>
		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just">是否推荐：</span>
			<div class="widthAuto zk_controlInput">
				<div ng-repeat="x in reList">
					<label class="m10right">
						<input type="radio" name="re" ng-model="vo.rsp_recommend" value="{{x.bd_code}}" class="widthAuto ant-checkboxStyle"
						 style="margin-top: -2px;" /> {{x.bd_name}}
					</label>
				</div>
			</div>
		</div>
		
		

		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just"><i class="colorRed">*</i> 图片：</span>
			<div class="widthAuto zk_controlInput">
				<a ng-click="upImage($event,1,1)" style="color:#099fb8;" class="f14">上传图片</a>（图片建议尺寸为:{{imgsize[vo.rsp_location]}}）
				<div style="margin-bottom:1.25rem;width:794px; height:300px; display:inline-block;" id="myeditor" get-ue="ue_myeditor = getUe"
				 ng-show="false" class="ueditor" ng-model="gb_content1"></div>
				<div style="margin-top:5px;">
					<div style="float:left;margin:5px;">
						<div class="gsGoodsImgs" style="height:90px; border:1px solid #ddd;">
							<img alt="" src="{{vo.rsp_cover_show?vo.rsp_cover_show:'img/prizedef.jpg'}}" style=" height:90px;">
						</div>

					</div>

					<div class="clearfix"></div>
				</div>
			</div>

			
			<div class="divVertical clearfix ray5" style="margin-top: 25px;">
				<span class="xt_bzWenZi width-just">排序：</span>
				<div class="widthAuto zk_controlInput">
					<input type="text" ng-model="vo.rsp_sort" maxlength="10" style="width:300px" placeholder="越大越靠前" /> (数字越大排序越靠前)
				</div>
			</div>
			
		</div>
		<div class="fixedBottom">
			<div class="btnStyle Btncolor1 BtnHover1" ng-click="submit();">保存</div>

			<div class="btnStyle Btncolor2 BtnHover2"><a ui-sref="index.product.restaurantProduct" class="btnStyle Btncolor2 BtnHover2">返回</a></div>
		</div>


