<div class="contentHtml-new" style=" z-index: 10001; background-color: #fff;left:0;">

    <div class="search-filter-box">
        <div>
			<label>关键字<span>:</span></label>
			<input type="text" ng-model="searchParam.searchKey" placeholder="柜子编号或设备编号">
		</div>
        
        <div>
            <a class="btn btn-success" style="margin-left:80px;"   ng-click="doSearch();" ><i class="glyphicon glyphicon-filter"></i> 筛选</a>
			<a class="btn btn-default" ng-click="clearParams();doSearch();" style="text-shadow: none !important; color: #333 !important;"><i class="icon icon-eraser"></i> 清空</a>
        </div>
    </div>
    
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default"
					style="border: 0; border-radius: 0;">
					<div class="panel-heading f14"
						style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
						<i class="icon icon-list"></i> 共{{pager.total}}条记录
					</div>

					<table class="table table3 table-bordered table-hover user_table">
						<thead>
						<tr class="bgColor-tableTr tableMiddle zk_stockTitleTh">
							<th class="colorCenter noSortCss">序号</th>
							<th>设备编号</th>
							<th>柜子编号</th>
							<th>巡检日期</th>
							<th>X轴</th>
							<th>Z轴</th>
							<th>A轴</th>
							<th>D轴</th>
							<th>屏幕</th>
							<th>空调</th>
							<th>其他设备</th>
							<th style="width: 200px;">异常说明</th>
							<th>巡检人</th>
							<th>操作</th>
						</tr>
					</thead>
						<tbody>
						<tr ng-repeat="x in inspectionRecordList" class=""
							style="height: 50px">
							<td class="colorCenter">{{pager.rows * (pager.page - 1)+
								$index+1}}</td>
							<td>{{x.ir_equipment_devicecode}}</td>
							<td>{{x.ir_storehouse_code}}</td>
							<td>{{x.ir_date_time}}</td>
							<td><span ng-if="x.ir_x==0">正常</span> <span
								ng-if="x.ir_x==1">异常</span><br></td>
							<td><span ng-if="x.ir_z==0">正常</span> <span
								ng-if="x.ir_z==1">异常</span><br></td>
							<td><span ng-if="x.ir_a==0">正常</span> <span
								ng-if="x.ir_a==1">异常</span><br></td>
							<td><span ng-if="x.ir_d==0">正常</span> <span
								ng-if="x.ir_d==1">异常</span><br></td>
							<td><span ng-if="x.ir_screen==0">正常</span> <span
								ng-if="x.ir_screen==1">异常</span><br></td>
							<td><span ng-if="x.ir_air_conditioner==0">正常</span> <span
								ng-if="x.ir_air_conditioner==1">异常</span><br></td>
							<td><span ng-if="x.ir_other==0">正常</span> <span
								ng-if="x.ir_other==1">异常</span><br></td>
							<td>{{x.ir_failure_explain}}</td>
							<td>{{x.ir_workid_nameref}}</td>
							<td class="colorCenter"></td>
						</tr>

					</tbody>
					</table>
					<tm-pagination conf="pager" search-param="searchParam"></tm-pagination>
				</div>
			</div>
		</div>
	</div>
</div>