<div class="xt_changeHtml" style="margin-bottom: 120px;">
	<div class="addlistCenter">
		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just">名称：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" ng-model="vo.bm_title" maxlength="30" style="width:300px" placeholder="标题在30个字符以内" />
			</div>
		</div>
		<div class="divVertical clearfix ray5">
			<span class="xt_bzWenZi width-just">展示对像：</span>
			<div class="widthAuto zk_controlInput sale_inline">
				<div>
					<label class="m10right">
						<input type="radio" name="Type" ng-model="vo.bm_type" value="1" class="widthAuto ant-checkboxStyle" style="margin-top: -2px;" />管理员
					</label>
				</div>
				<div>
					<label class="m10right">
						<input type="radio" name="Type" ng-model="vo.bm_type" value="2" class="widthAuto ant-checkboxStyle" style="margin-top: -2px;" />合伙人
					</label>
				</div>
				<div>
					<label class="m10right">
						<input type="radio" name="Type" ng-model="vo.bm_type" value="3" class="widthAuto ant-checkboxStyle" style="margin-top: -2px;" />管理员和合伙人
					</label>
				</div>
			</div>
		</div>
		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just"><i class="colorRed">*</i> 生效时间：</span>
			<div class="widthAuto zk_controlInput">
				<input type="text" class="Wdate" style="width: 200px;" id="start_time" />
			</div>
		</div>
		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just"><i class="colorRed">*</i> 文案：</span>
			<div class="widthAuto zk_controlInput">
				<textarea style="width: 300px;height: 100px;" ng-model="vo.bm_content">{{vo.bm_content}}</textarea>
			</div>
		</div>
		<div class="divVertical clearfix ray5" style="margin-top: 25px;">
			<span class="xt_bzWenZi width-just"><i class="colorRed">*</i> 图片：</span>
			<div class="widthAuto zk_controlInput">
				<a ng-click="upImage($event,1,$index)" style="color:#099fb8;" class="f14">上传图片(建议比例为 650*395)</a>
				<div style="margin-bottom:1.25rem;width:794px; height:300px; display:inline-block;" id="myeditor" get-ue="ue_myeditor = getUe"
				 ng-show="false" class="ueditor" ng-model="gb_content1"></div>
				<div style="margin-top:5px;">
					<div style="float:left;margin:5px;position: relative;" ng-repeat="x in picList track by $index" ng-mouseenter="showTips($index)" ng-mouseleave="hideTips($index)">
						<div class="gsGoodsImgs" style="height:100px; border:1px solid #ddd;">
							<img alt="" src="{{x.picturepath}}" style=" height:100px;">
						</div>
						<div style="display:none;position: absolute;background: #eee;width: 102px;height: 22px;top: 80px;text-align:center;line-height: 22px;opacity: 0.7;"  class="js_setPic{{$index}}" ng-click="del($index)" >删除</div>
					</div>

					<div class="clearfix"></div>
				</div>
			</div>
		
			
			
			<div class="divVertical clearfix ray5" style="margin-top: 25px;margin-bottom:100px;">
				<span class="xt_bzWenZi width-just">排序：</span>
				<div class="widthAuto zk_controlInput">
					<input type="text" ng-model="vo.bm_sort" maxlength="10" style="width:300px" placeholder="越大越靠前" /> (数字越大排序越靠前)
				</div>
			</div>
			
			
		</div>
		<div class="fixedBottom">
			<div class="btnStyle Btncolor1 BtnHover1" ng-click="submit();">保存</div>

			<div class="btnStyle Btncolor2 BtnHover2"><a ui-sref="index.setting.focus" class="btnStyle Btncolor2 BtnHover2">返回</a></div>
		</div>


		<!-- 选择城市弹框 -->
		<div class="dialog" ng-show="showCity">
			<div class="dialog-zdc"></div>
			<div class="dg-xg-zh" style=" width: 438px; margin-left: -219px; top: 50%; margin-top: -205px;" ng-show="showCity">
				<div class="dg-xg-js" style="width: 438px;">
					选择城市
					<div class="dg-cancle" ng-click="closeCityDialog()"></div>
				</div>
				<form role="form" name="myform">
					<div class="dg-content" style="margin-bottom: 0px; margin-top: 0px; height: 320px; overflow: auto; z-index: 100;">
						<div style="border-right: none;">
							<ul tree id="tree2" class="ztree f14" data-options='{"url":"/admin/base/baseAreaControl/queryBaseAreaTreeNew.action?state=1&shopid={{shopid}}"}'
							 mysetting='mysetting' style="width: 400px; overflow: auto; border-right: none;" max-length="25"></ul>
						</div>
					</div>
				</form>
				<div class="dg-submint" style="width: 100%; text-align: center; margin: 10px 0;">
					<div class="btnStyle Btncolor1 BtnHover1" ng-click="selectCity(vo.selectNode)">确定</div>
					<div class="btnStyle Btncolor2 BtnHover2" ng-click="closeCityDialog()">取消</div>
				</div>
			</div>
		</div>