<div class="setting_panel panel-default">
    <div class="panel-heading text-left">
        <div class="setting_nav">
            <ul>
                <li><a href="">单词列表</a></li>
            </ul>
        </div>
    </div>
    <div class="xt_offOne tabUl-2 clearfix">
		<ul>
			<li ng-class="{'active':tab=='1'}" style="width: 185px;" ng-click="selectTab(1);"><a>单词列表</a>
				<span class="badge ng-binding" style="position: absolute; top: 8px; right: 10px; z-index: 1" ng-show="false">6</span></li>
			<!-- <li ng-class="{'active':tab=='2'}" style="width: 185px;" ng-click="selectTab(2);"><a>其他资产提现</a>
				<span class="badge ng-binding" style="position: absolute; top: 8px; right: 10px; z-index: 1" ng-show="false">6</span></li> -->
			
		</ul>
	</div>
    <div class="search-filter-box">
    	<div>
			
            <label>语言<span>:</span></label>
			<select ng-model="searchParam.dm_type">
				<option value="{{x.bb_id}}" ng-repeat="x in dmTypeList">{{x.bd_name}}</option>
				
			</select>
            <label>关键字<span>:</span></label>
            <input type="text" placeholder="" ng-model="searchParam.searchKey">
        </div>
        
        <div>
            <a class="btn btn-success" style="margin-left:80px;"  ng-click="doSearch();" ><i class="glyphicon glyphicon-filter"></i> 筛选</a>
			<a class="btn btn-default" ng-click="clearInput();" style="text-shadow: none !important; color: #333 !important;"><i class="icon icon-eraser"></i> 清空</a>
            <a class="btn btn-success" style="margin-left:80px;"  ng-click="doAdd();" >添加</a>
        </div>
    </div>
    
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default" style="border: 0; border-radius: 0;">
                    <div class="panel-heading f14" style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
                        <i class="icon icon-list"></i> 共{{pager.total}}条记录
                    </div>
                    
                    <table class="table table3 table-bordered table-hover user_table">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>日语</th>
                                <th>假名</th>
                                <th>汉语</th>
                                
                                <th>添加时间</th>
                                
                                
                                
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in dataList">
                                <td class="text-center f14">{{pager.rows * (pager.page - 1)+ $index+1}}</td>
                                <td class="text-center f14">{{x.dm_lang}}</td>
                                <td class="text-center f14">{{x.dm_lang2}}</td>
                                <td class="text-center f14">{{x.dm_ch}}</td>
                                <td class="text-center f14">{{x.dm_addtime}}</td>
                                
                              
                                <td class="text-center f14">
                                    <a  class="common_edit" title="审核" ng-click="goEdit(x)"></a>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <tm-pagination conf="pager" search-param ="searchParam"></tm-pagination>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 添加备注弹窗 -->
<div class="dialog" ng-show="checkBoxShow" style="z-index:88">
	<div class="dialog-zdc"></div>
	<div class="dg-xg-zh" style="z-index:1000; width:608px;height:360px;margin-left: -369px; top:80px;" ng-show="checkBoxShow">
		<div class="dg-xg-js" style="width:608px;">
			审核
			<div class="dg-cancle" ng-click="checkBoxShow=false"></div>
		</div>
		<div class="clearfix" style="padding: 0 10px; box-sizing: border-box;">
			<form class="form-horizontal">
				<div class="dg-content" style="width: 100%; margin-bottom:10px;margin-top:30px;">
					<div>
						<textarea name="comment" id="comment" cols="30" rows="10" maxlength="150" style="width:100%;height:200px;"></textarea>
					</div>
					<div style="text-align:right;">
						<span>审核意见最多支持150字</span>
					</div>
				</div>
				<div class="dg-submint" style=" width:100%; text-align: center; margin-bottom:20px;">
					<div class="btnStyle Btncolor1 BtnHover1" ng-click="updateCheckstate(2);">审核通过</div>
					<div class="btnStyle Btncolor2 BtnHover2" ng-click="updateCheckstate(3)">审核不通过</div>
				</div>
			</form>
		</div>
	</div>
</div>




<style>
.tab_seleced{
	border:1px solid #ddd;
	border-bottom:none;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	background-color:#5bc0de;
	color:#fff;
}
</style>






