<div class="setting_panel panel-default">
	<div class="panel-heading text-left">
		<div class="setting_nav">
			<ul>
				<li><a href="">实物券列表</a></li>
			</ul>
		</div>
	</div>
	<div class="search-filter-box">
		<div>
			<label>领取日期<span>:</span></label>
			<span class="input-group-addon date_check_main" title="点击选择更多" tabindex="0" onblur="dateRangeUtil.hideDateSelect()" ng-click="dateRange.chooseDate($event)">
				日期 </span>
			<input id="start_date" autocomplete="off"  type="text" class="Wdate" style="margin-left:-4px;" onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
			/>
			<input id="end_date" autocomplete="off"  type="text" class="Wdate" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" onFocus="WdatePicker({onpicked: function (dp) { angular.element(this).scope().changeDate(); },dateFmt:'yyyy-MM-dd',lang:'zh-cn'})"
			/>
			<label>使用状态<span>:</span></label>
			<select ng-model="searchParam.mt_use_state" >
				<option ng-repeat="x in useStateList" value="{{x.bd_code}}">{{x.bd_name}}</option>
			</select>
					
		</div>
		<div>
			<label>关键字<span>:</span></label>
			<input type="text" placeholder="商品名称，会员" ng-model="searchParam.searchKey">	
		</div>
		<div>
			<a class="btn btn-success" style="margin-left:80px;"  ng-click="doSearch();" ><i class="glyphicon glyphicon-filter"></i> 筛选</a>
			<a class="btn btn-default" ng-click="clearInput();doSearch();" style="text-shadow: none !important; color: #333 !important;"><i class="icon icon-eraser"></i> 清空</a>

		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default"
					style="border: 0; border-radius: 0;">
					<div class="panel-heading f14"
						style="background-color: #fff; border: 1px solid #ddd; border-bottom: 0; border-radius: 0;">
						<i class="icon icon-list"></i> 共{{pager.total}}条记录
					</div>

					<table class="table table3 table-bordered table-hover user_table">
						<thead>
							<tr>
								<th>序号</th>
								<th>商品名称</th>
								<th>经销商</th>
								<!-- <th>排序</th> -->
								<th>编号</th>
								<th>二维码</th>
								<th>可用</th>
								<th>会员</th>
								<th>是否限制</th>
								<th>使用状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in ticketList">
								<td class="text-center f14">{{pager.rows * (pager.page -
									1)+ $index+1}}</td>
								<td class="text-center f14">{{x.mt_productid_nameref}}</td>
								<td class="text-center f14">{{x.mt_shopid_nameref}}</td>
								<!-- <td class="text-center f14">{{x.mt_no}}</td> -->
								<td class="text-center f14">{{x.mt_ticket_code}}</td>
								<td class="text-center f14">{{x.mt_barcode}}</td>
								<td class="text-center f14">{{x.mt_available_num}}</td>
								<td class="text-center f14">{{x.mt_memberid_nameref}}</td>
								<td class="text-center f14">
									<span ng-if="x.mt_limit_is=='Y'">限制</span>
									<span ng-if="x.mt_limit_is=='N'">不限制</span>
								</td>
								<td class="text-center f14">{{x.mt_use_state_nameref}}</td>
								<td class="text-center f14">
								</td>
							</tr>
						</tbody>
					</table>
					<tm-pagination conf="pager" search-param="searchParam"></tm-pagination>
				</div>
			</div>
		</div>
	</div>
</div>
