<div class="xt_changeHtml" style="margin-bottom: 195px;">
	<div class="addlistCenter" style="padding-top:30px;padding-bottom:30px;">

		<div class="divVertical clearfix ray5" style="margin-top: 17px;">
			<span class="xt_bzWenZi width-just"><i class="colorRed">*</i> 商品：</span>
			<div class="widthAuto zk_controlInput">
				<select class="form-control" ng-model="selectProduct" ng-change="getDetail()" ng-options="x.pm_title for x in productList" >
						
						
					</select>
			</div>
		</div>
		<div style="min-width:900px;margin-bottom: 20px;margin-top: 25px;box-sizing:border-box;padding:0 46px;">
			<table class="table table3" style="margin-bottom: 0 !important; border: 1px solid #dedede; border-bottom: 0;">
				<tbody>
					<tr class="zk_headerTrSty">
						<th style="width:10%;">
							<div class="glyphicon glyphicon-cog" ng-show="false" style="width: 15px; height: 15px; cursor: pointer"></div>
						</th>
						
						<th style="width:50%;border-right: 1px solid #dedede;">团队 </th>
						<th style="width:10%;border-right: 1px solid #dedede;"> 城市合伙人比例</th>
						<th style="width:10%;border-right: 1px solid #dedede;"> 管理员比例</th>
						<th style="width:10%;border-right: 1px solid #dedede;"> 分佣总金额</th>
						<th style="width:10%;border-right: 1px solid #dedede;">操作 </th>
					</tr>
					<tr>
						<td colspan="14" style="padding: 0; border-bottom: 0;border-top:0;">
							<div style="padding-bottom: 2px;">
								<table class="table table3 table-bordered" style="border: 0; margin-bottom: 0 !important;">
									<tbody>
										<tr ng-repeat = "i in dataList track by $index" ng-init="index_i = $index">
											<td style="width:10%; border-left: 0 !important;" class="colorCenter"><span ng-if="index_i+1<dataList.length">{{index_i+1}}</span><img src="../../../../img/sele_add.png" ng-if="index_i+1 == dataList.length" style="cursor: pointer;" ng-click="addLine(1);"/></td>
											<td style="width:50%;" class="SelectMulti-Container2 posRelative">
												<input type="text" class="inputBorderStyle2 SelectMulti-ShowDiv2" ng-model="i.ba_name" ng-change="i.ba_id='';keySearchFun(i.ba_name,'store');"  ng-focus="showDroplist($event,getAgentList,1)" style="height: 33px; line-height: 33px;">
												<div class="droplistWrap2" style="width: 689px; left: 5px; top: 40px; overflow: hidden;">
													<div class="clearfix">
														<table >
															<tr class="listItem2" style="width:683px;">
																<td style="width:30px;line-height: 0px !important;"></td>
																<td style="width:170px;line-height: 0px !important;">合伙人团队</td>

															</tr>
														</table>
													</div>
													<div class="clearfix" style="height: 160px;overflow-y: auto;" >
														
														<table style="width:683px;">
															<tr class="listItem" ng-repeat="y in agentList" ng-click = "chooseAgent(y,index_i,1);">
																<td style="width:30px;padding:4px !important;">
																	{{pager1.rows * (pager1.page - 1)+ $index+1}}
																</td>
																<td style="width:170px;padding:4px !important;">
																	{{y.ba_name}}
																</td>
																
															
																
															</tr>
														</table>
													</div>
												</div>
												<div class="droplistWrap2 zk_fanye" style="width:689px !important; top:226px !important; left:5px !important;height:25px;">
													<a ng-click="prevPage(pager1,getAgentList)"  class="m30right m20left">上一页</a>
													<a ng-click="nextPage(pager1,getAgentList)" class="m30right">下一页</a>
													<span class="m30right">{{pager1.page}}/{{pager1.pageTotal}}</span>
													<span>共{{pager1.total}}条</span>
													<a ng-show="false" class="common_add_all" ng-click="addAll(storeList,index_i)">全部添加</a>
												</div>
											</td>
											
											<td style="width:10%;border-right: 0 !important;cursor: pointer;" ng-show="true">
												
													<input style="width:30px;" type="text" ng-blur="change2Num2(index_i);" ng-model="i.gapr_recommend1_rate">%
													
											</td>
											<td style="width:10%;border-right: 0 !important;cursor: pointer;" ng-show="true">
												
													<input style="width:30px;" disabled type="text" ng-model="i.gapr_recommend2_rate">%
													
											</td>
											<td style="width:10%;border-right: 0 !important;cursor: pointer;" ng-show="true">
												
													<input style="width:30px;" type="text" ng-model="i.gapr_amount1">元
													
											</td>
											<td style="width:10%;border-right: 0 !important;cursor: pointer;" ng-show="true" class="open colorCenter"><img src="../../../../img/shanchu.png"  ng-click="removeLine(index_i,1)" /></td>
											
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
</div>
<div class="fixedBottom">
	<div  class="btnStyle Btncolor1 BtnHover1" ng-click="submit();">保存</div>

	<div class="btnStyle Btncolor2 BtnHover2" ><a ng-click="goBack();" class="btnStyle Btncolor2 BtnHover2" >返回</a></div>
</div>

<!-- 遮挡层 -->
<div class="dialog" ng-show="ac_showHtml.show">
<div class="dialog-zdc" ></div>
<!-- 遮挡层 -->



<script>

$(function(){
  $('.droplistWrap2').hide()
	$(document).on('click', function (ev) {
		if ($(ev.target).parents('.SelectMulti-Container2').length) {return}
		$('.droplistWrap2').hide()
	})

	//全选框不好使时
	$('body').on('click', '.js_selectAll', function(){
		var thisObj = $(this);
		if (thisObj.is(':checked')) {
			// $('.select').attr('checked', true); 
			$('.js_select').prop("checked", true);
			$('.js_selectAll').prop("checked", true);
			
		} else {
			$('.js_select').attr('checked', false);
			$('.js_selectAll').prop("checked", false);
		}
	});

	$('body').on('click', '.js_select', function(event){
		event.stopPropagation();
		var thisObj = $(this);
		if (thisObj.is(':checked')) {
			// $('.select').attr('checked', true); 
			// $('.select').prop("checked", true);  					 					
		} else {
			$('.js_selectAll').prop("checked", false);
		}
	});
});

function showDropList (obj){
	$('.droplistWrap2').hide();
	$(obj).parent().find('.droplistWrap2').toggle();
	console.log($(obj).parent().find('.droplistWrap2'))
};
</script>
